<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Admin Dashboard</title>
</head>

<body>
    <h1>Dashboard</h1>
    <div class="container">
        <div class="charging-status">
            <% for( let i=0; i < relayStatus.length; i++ ) { %>
                <% if (relayStatus[i].uid) { %>
                    <div id="relay-info-<%= i %>">
                        <p>Relay <%= i+1 %> is active</p>
                    <form action="/terminate-session" method="post">
                        <input type="number" name="uid" value="<%= relayStatus[i].uid %>" hidden="">
                        <input type="number" name="relaynum" value="<%= i %>" hidden>
                        <button type="submit" style="color: red;">x</button>
                    </form>
                    </div>
                    
                <% }else{ %>
                    <div id="relay-info-<%= i %>">
                        <p>Relay <%= i+1 %> is inactive</p>
                    </div>
                    <% } %>
            <% } %>
        </div>
        <form action="/create-user" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">

            <label for="passwd">Password</label>
            <input type="password" name="password" id="passwd">

            <input type="submit" value="Create new user">
        </form>

        <div class="logs">
            <table>
                <thead>
                    <th>Sr.no</th>
                    <th>User Name</th>
                    <th>Time Period</th>
                    <th>Time Stamp</th>
                    <th>Bill</th>
                </thead>
                <tbody>
                    <% for(let i=0; i < logs.length; i++) { %>
                        <tr>
                            <td>
                                <%= i+1 %>
                            </td>
                            <td>
                                <%= logs[i].username %>
                            </td>
                            <td>
                                <%= logs[i].time_period %>
                            </td>
                            <td>
                                <%= logs[i].time_stamp %>
                            </td>
                            <td>
                                <%= logs[i].time_period*5 %>
                            </td>
                        </tr>
                        <% } %>

                </tbody>
            </table>
        </div>



    </div>
    <form action="/admin-logout" method="post">

        <button type="submit" class="logout-btn">Logout</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        socket.on('relay-triggered', (relNum, user)=>{
            console.log(relNum, user);
            const target = document.querySelector(`div.charging-status`);
            console.log(target);
        });
    </script>
</body>

</html>